/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-family: 'Bruno Ace SC', cursive;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
}

h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

h5 {
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
}

#p-landing {
	font-size: 1.8rem;
}

.logo-image {
	height: 25px;
}

#logo-ic {
	height: 40px;
}

#landing-picture {
	height: 400px;
	width: 400px;
}

.div-col {
	background-color:  #395b64;
}


#nav1 {
	background-color: #fff6e0;
	color: white;
}

#foot {
	background-color: #fff6e0;
}

#form-col {
	background-color: slategray;
	border: solid beige;
}

a {
	color: white;
}